.root {
    -fx-font-size: 16pt;
}

.text-field, .button {
    -fx-padding: 10;
}

.fields-pane {
    -fx-spacing: 15;
    -fx-padding: 0 0 15 0;
}

.dialog-pane .text-field > Pane {
    -fx-background-color: transparent;
}

.email-field {
    -fx-pref-width: 375;
    -fx-max-width: 375;
}

.dialog-pane {
    -fx-border-color: gray;
}

.dialog-pane .field-error-message {
    -fx-text-fill: #ffaaaa;
    -fx-font-size: 13pt;
    -fx-padding: 0 0 0 10;
}