#login-pane {
    -fx-padding: 100 70 60 70;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 1, 1);
}

#controls {
    -fx-padding: 0 0 30 0;
}

#create-account {
    -fx-padding: 0
}

#create-account-pane {
    -fx-spacing: 15
}

#forgot-password {
    -fx-border-color: transparent;
    -fx-font-size: 15pt;
    -fx-padding: 20 0 10 20;
}

#forgot-password, #create-account {
    -fx-border-color: transparent;
    -fx-underline: false;
}

#create-account-success, #create-account-pane, #create-account-error {
    -fx-padding: 20 20 0 20;
}

#create-account-success {
    -fx-text-fill: #5cb85c;
}

#create-account-error {
    -fx-text-fill: #ffaaaa;
}